<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <% end %>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :monto_unitario %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :calificación %>
    <%= form.number_field :score %>
  <div>
  
  <div class="field">
    <%= form.label :Profesional %>
    <div class="mb-3 "> 
      <%= form.collection_select :collaborator_id, Collaborator.order(:name), :id, :name %>
    </div>
  <div>
    
  <div class="field">
    <%= form.label :Cliente %>
    <div class="mb-3 "> 
      <%= form.collection_select :client_id, Client.order(:name), :id, :name %>
    </div>
  <div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
