
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Administradores</h1>
    
  <table class="styled-table">
    <div>
      <%= render '/admins/newService', service: @service %>   
    </div>
    <div class="mt-5">
      <thead >
        <tr class="active-row">
          <th>Nombre</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <%if current_user.admin.name == admin.name %>
              <td>
                <div class="d-flex"> 
                  <strong>*</strong>
                  <strong><%=admin.name %></strong>
                </div>
              </td>
            <%else%>
              <td><%= admin.name %></td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </div>
  </table>
  
  <%= render '/admins/balanceGeneral', collaborator: @collaborator %>  

  <hr>
  <br>

  <div class="container">
    <%= render '/admins/indexColab', collaborator: @collaborator %>  
  </div>

  <hr>
  <br>

  <div class="conatiner">

    <%= render '/admins/indexClient', client: @client %>
  </div>
  
  <br>

</div>

  