<p id="notice"><%= notice %></p>

<h1>Tus Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Rut</th>
      <th>Datos Personales</th>
      <th>Eliminar Pacientes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_collaborator.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone_number %></td>
        <td><%= client.rut %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
