<div class="container mt-5 pt-5">
  <p id="notice"><%= notice %></p>
  <div class="colab-info">
    <div class="d-flex">
      <div class="inner-show">
        <strong ><h3>Name:</h3></strong>
      </div>
      <%= @collaborator.name %>
    </div>

    <div class="d-flex">
      <div class="inner-show">
        <strong><h3>Phone number:</h3></strong>
      </div>
      <%= @collaborator.phone_number %>
    </div>

    <div class="d-flex">
      <div class="inner-show">
        <strong><h3>Percentage profit:</h3></strong>
      </div>
      <%= @collaborator.percentage_profit %>
    </div>

    <div class="d-flex">
      <div class="inner-show">
        <strong><h3>Profit amount:</h3></strong>
      </div>
      <%= @collaborator.profit_amount %>
    </div>

    <%= link_to 'Edit', edit_collaborator_path(@collaborator) %> |
    <%if current_user.role == "Gerencia"%>
      <%= link_to 'Back', admins_path %>
    <%else%>
      <%= link_to 'Back', collaborators_path %>
    <%end%>
  </div>

</div>
